<!DOCTYPE html>
<html>
    <head>
      <!-- <link rel="stylesheet" href="/TextAnimation/styles/pure-css-text.css"/> -->

      <!-- <link rel="stylesheet" href="/TextAnimation/styles/letter.css" /> -->

      <link rel="stylesheet" href="/TextAnimation/styles/smoky-text.css" />
    </head>

    <body>
        <!-- <div w3-include-html="/TextAnimation/components/pure-css-text.html"></div>
        
        <div w3-include-html="/TextAnimation/components/letter.html"></div> -->

        <div w3-include-html="/TextAnimation/components/smoky-text.html"></div>

        <!-- Add scripts -->
        <script src="/TextAnimation/js/letter.js"></script>
        <script src="/TextAnimation/js/include-html.js"></script>
        <script>
          window.onload = function () {
            letterAnimation();
          }
        </script>
    </body>
</html>